#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "Resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_MAIN_MENU MENU
{
    POPUP "&File"
    {
        MENUITEM "&New", IDM_FILE_NEW
        MENUITEM "&Open", IDM_FILE_OPEN
        MENUITEM SEPARATOR
        MENUITEM "&Save", IDM_FILE_SAVE
        MENUITEM "E&xit", IDM_FILE_EXIT
    }
    POPUP "&Build"
    {
        MENUITEM "&Generate Code", IDM_BUILD_GENERATE_CODE
    }
    POPUP "&Help"
    {
        MENUITEM "&About", IDM_HELP_ABOUT
    }
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_MAIN_DIALOG DIALOG 0, 0, 178, 125
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_CLIPCHILDREN | WS_GROUP | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "Pixie Game Wizard 1.0"
MENU IDR_MAIN_MENU
FONT 12, "Consolas"
{
    LISTBOX         IDC_GAMESTATE_LIST, 7, 42, 150, 75, WS_TABSTOP | WS_VSCROLL | LBS_DISABLENOSCROLL | LBS_NOINTEGRALHEIGHT | LBS_SORT | LBS_NOTIFY
    DEFPUSHBUTTON   "+", IDC_ADD_GAMESTATE_BUTTON, 159, 42, 12, 14
    PUSHBUTTON      "-", IDC_DELETE_GAMESTATE_BUTTON, 159, 58, 12, 14
    LTEXT           "GameState Name:", IDC_STATIC, 7, 10, 61, 8, SS_LEFT
    EDITTEXT        IDC_GAMESTATE_NAME_EDIT, 73, 7, 98, 14, ES_AUTOHSCROLL
    RTEXT           "Prefix:", IDC_STATIC, 7, 26, 61, 8, SS_RIGHT
    EDITTEXT        IDC_GAMESTATE_PREFIX_EDIT, 73, 23, 98, 14, ES_AUTOHSCROLL
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_MAIN_ICON      ICON           ".\\ApplicationIcon.ico"
